body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333;
  background-color: #f2f2f2;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
p {
  /* margin: 0; */
}

h1,
h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

h1 {
  line-height: 26px;
}

h2 {
  line-height: 21px;
}

.top-menu a {
  text-decoration: none;
  color: #000;
}

.item-left,
.item-left h2,
.item-right,
.item-right h2 {
  color: white;
}

footer,
header,
main {
  box-sizing: border-box;
  min-width: 768px;
  max-width: 1200px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
}

.main-header {
  position: relative;
  min-height: 56px;
}

.top-menu {
  padding: 17px 6% 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.top-menu ul,
.filters-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.top-menu li {
  display: inline-block;
  margin: auto 0;
  width: 20%;
  font-weight: bold;
}

li.top-menu-left {
  float: left;
  text-align: left;
}

li.top-menu-right {
  float: right;
  text-align: right;
}

.index-welcome {
  height: 509px;
  background: url("../img/background-photo.jpg") no-repeat 100% -55px,
                    url("../img/mask.png") no-repeat 50% 100%;
}

.index-welcome::after {
  /* background: transparent url("../img/mask.png") no-repeat 0% 0%;
  background-size: cover; */
}

.img-welcome {
  display: inline-block;
  /* vertical-align: middle; */
  width: 458px;
  height: 352px;
  margin-top: 76px;
}

.img-welcome-mask {
  /* width: 100%;
  background: url(../img/mask.png) no-repeat 0% 0%; */
}

.index-lead {
  box-sizing: border-box;
  min-height: 215px;
  /* margin-top: -3px; */
  padding-top: 60px;
  /* padding-bottom: 51px; */
  background-color: #e88;  /* для наглядности, потом убрать */
}

.index-lead h1 {
  margin: 0;
  padding-bottom: 26px;
}

.index-lead p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.features-item h2,
.features-item p {
  margin: 0;
}

.features-image,
.item-description {
  box-sizing: border-box;
  min-height: 256px;
}

.item-description {
  padding-top: 54px;
  padding-left: 45px;
  padding-right:  45px;
}

.item-description h2,
.item-description h2 + p {
  padding-bottom: 23px;
}


.item-left {
  float: left;
  width: 33%;
  /* background-color: #81b3d2; */
  background-color: #87aece;
}

.image-right {
  float: right;
  width: 67%;
  background: url("../img/features-img-right.jpg") no-repeat 100% 50%;
  background-size: cover;
}

.item-advice {
  box-sizing: border-box;
  min-height: 330px;
  float: left;
  width: 33.33%;
  padding-top: 60px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fdd;
}

.item-advice:last-child {
  float: right;
  padding-top: 56px;
  width: 33.34%;
}

.item-advice:nth-child(2) {
    padding-top: 62px;
}

.item-advice img {
  padding-bottom: 23px;
}

.item-advice h2 {
  padding-bottom: 24px;
}

.image-left {
  float: left;
  width: 67%;
  background: url("../img/features-img-left.jpg") no-repeat 100% 50%;
  background-size: cover;
}

.item-right {
  float: right;
  width: 33%;
  /* background-color: #81b3d2; */
  background-color: #87aece;
}

.feature-bg-gray .item-description {
  box-sizing: border-box;
  min-height: 256px;
  float: left;
  padding-top: 48px;
  width: 33.33%;
  background-color: #ececec;
}

.feature-bg-gray .item-description:last-child {
  float: right;
  width: 33.34%;
}

/*===== Форма поиска  =====*/
form.hidden {
  display: none;
}

.search-form-item p {
  margin: 0;
}

.search-form-item a {
  text-decoration: none;
  color: #fff;
}

.search-form-item {
  box-sizing: border-box;
  min-height: 291px;
  padding-top: 53px;
  /* для наглядности, убрать */
  background-color: #aae;
}

.search-form-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 28px;
}

.search-form-description {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 45px;
}

.brown-btn {
  background-color: #766357;
}

.brown-btn:hover {
  background-color: #604e43;
}

.brown-btn:active {
  color: #857871;
  background-color: #503e33;
}

.search-form-item {
  position: relative;
}
.search-form .brown-btn {
  position: absolute;
  box-sizing: border-box;
  height: 86px;
  width: 568px;
  bottom: 0px;
  left: 50%;
  margin-left: -284px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-top: 30px;
}

/*==== Карта ===*/
.map {
  box-sizing: border-box;
  height: 593px;
  /* для наглядности, убрать */
  background-color: #cbdda9;
}

/* === hotels === */
.filters-form {
  box-sizing: border-box;
  min-height: 217px;
  padding: 0 6%;
  text-align: left;
  background: #dceaf3 url("../img/filter-background.jpg") no-repeat 0% 0%;
}

.filter-item p,
.filter-range p {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-item {
  float: left;
  width: 210px;
}

.filter-range {
  float: right;
  width: 30%;
}

.results-sort {
  padding: 30px 6%;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}

.results-sort-variants {
  float: left;
  width: 80%;
}

.sorting-up-down {
  float: right;
  width: 8%;
}

.result-count {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 45px;
}

.sorting {
  margin-right: 40px;
}

.sorting-variant {
  margin-right: 30px;
}

.sorting,
a.sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

a.sorting-active {
  color: #81b3d2;
}

.result-hotel-item {
  padding: 30px 6%;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-photo {
  float: left;
  width: 135px;
/* для наглядности, убрать */
  outline: 1px solid #777;
}

.hotel-description {
  float: left;
  width: 50%;
  /* для наглядности, убрать */
  outline: 1px solid #777;
}

.hotel-name,
.hotel-type {
  text-align: left;
}

.result-rating {
  float: right;
  width: 120px;
  /* для наглядности, убрать */
  outline: 1px solid #777;
}

.rating-stars span {
  display: inline-block;
  text-align: right;
  width: 14px;
  height: 13px;
  background: url("../img/star.png") no-repeat;
}

/*====== ФУТЕР =====*/

.main-footer {
  border-color: #fefefe;
  opacity: 0.9;
  margin-top: -120px;
}

.hotels-results .main-footer {
  margin-top: 0;
}

.footer-item a {
  text-decoration: none;
  color: #000;
}

.footer-item {
  box-sizing: border-box;
  height: 120px;
  float: left;
  width: 33.33%;
  /* для наглядности, убрать */
  outline: 1px solid #777;
}

.footer-item:last-of-type {
  float: right;
  width: 33.34%;
}

.footer-tag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-top: 48px;
}

.footer-social {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.footer-copyright {
  padding-top: 41px;
}
/**** спрайт в футере ****/
.sprite-htmlacademy {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
  background: url("../img/html-academy-sprite.png") no-repeat -5px -5px;
}

.sprite-htmlacademy:hover {
  background-position: -5px -54px;
}

.sprite-htmlacademy:active {
  background-position: -5px -103px;
}
